* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: white;
}
/* navbar */

.navbar-brand {
  font-size: 25px;
  font-weight: 500;
  color: #f44144;
  letter-spacing: 1px;
}
.nav-link:visited,
.nav-link.dropdown:visited {
  color: gray;
}
.nav-link,
.nav-link.dropdown {
  color: gray;
  margin-left: 30px;
  font-weight: 500;
  position: relative;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link.active {
  color: #f44144 !important;
}

.offcanvas-header {
  background-color: #f2f4f1 !important;
}

.nav-link:hover {
  color: #f44144;
  font-size: 16.5px;
  transition: 0.25s;
  font-weight: 500;

  transition: 0.1s;
}

.navbar-brand:hover {
  color: #f63a3d;
  transition: 0.1s;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f44144;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    visibility: visible;
    width: 80%;
  }
}
/* NavBar end */

/*  Home page Strat*/

.home {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(image/kala1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home .content {
  text-align: center;
  padding-top: 300px;
  position: relative;
  bottom: 15px;
}

@media (max-width: 1200px) {
  .home .content {
    text-align: center;
    padding-top: 100px;
  }
}
@media (max-width: 600px) {
  .home .content {
    text-align: center;
    padding-top: 55px;
    bottom: 10px;
  }
}
.home .content h5 {
  color: #f2f4f1;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}

.home .content h1 {
  color: #f2f4f1;
  font-size: 70px;
  font-weight: 500;
}

/* span tag change content start*/
.changecontent::after {
  content: "";
  color: #f44144;
  animation: changetext 10s infinite linear;
}
@keyframes changetext {
  0% {
    content: "Kala Bhairavar";
  }
  10% {
    content: "Asitanga Bhairavar";
  }
  20% {
    content: "Kala Bhairavar";
  }
  30% {
    content: "Krodha Bhairavar";
  }
  40% {
    content: "Unmatta Bhairavar";
  }
  50% {
    content: "Kala Bhairavar";
  }
  60% {
    content: "Kapala Bhairavar";
  }
  70% {
    content: "Chanta Bhairavar";
  }
  80% {
    content: "Bheeshana Bhairavar";
  }
  90% {
    content: "Kala Bhairavar";
  }
  100% {
    content: "Samhara Bhairavar";
  }
}
/* span tag change content start*/

@media screen and (max-width: 900px) {
  .home {
    background-position: 50%;
  }
  .home .content h5 {
    font-size: 30px;
  }
  .home .content h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 500px) {
  .home .content h5 {
    font-size: 20px;
  }
  .home .content h1 {
    font-size: 30px;
  }
  .home .content p {
    font-size: 10px;
  }
}
/* home page end */

/* About start */

#abouth1 {
  color: blue;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}

.img-thumbnail {
  filter: drop-shadow(0px 0px 2px #000000);
}

@media screen and (max-width: 1200px) {
  #abouthome p {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  #abouthome p {
    margin-top: 10px;
  }
}

/* aboud end */

/* accordion Start */
.accordion-button {
  background-color: transparent; /* Set the background color to transparent */
  color: #000; /* Set the text color */
  border: none; /* Remove the border */
}

.accordion-button:focus {
  box-shadow: none;
  background-color: #f25c05;
  color: #fff; /* Remove the focus box shadow */
}

.accordion-button.active {
  /* Set the active background color to royalblue */
  color: #fff; /* Set the text color for the active state */
}
/* accordion end */

/* video play :start */

.mother {
  position: relative;
}
.child {
  position: absolute;
  left: 48%;
  z-index: 10000;
  color: rgb(2, 0, 0);
  font-size: 50px;
}
.child:hover {
  color: #f44144;
}
@media (max-width: 500px) {
  .child {
    font-size: 30px;
    left: 45%;
  }
}

.clip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transition: 0.5s;
}
.clip video {
  max-width: 70%;
  outline: none;
  border: 2px solid white;
  border-radius: 2%;
}

@media (max-width: 576px) {
  .clip video {
    max-width: 100%;
    outline: none;
    border: 5px solid white;
  }
}
@media (max-width: 786px) {
  .clip video {
    max-width: 90%;
    outline: none;
    border: 5px solid white;
  }
}

.clip.active {
  transition-delay: 0.5s;
  transform: translate(-50%, -50%) scale(1);
  backdrop-filter: blur(10px);
}
.clip .exit {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 10px;
  margin: auto;
}

/* video end */

/*  Sticky Button  */
.sticky-btn {
  position: fixed;
  top: 70px;
  right: 0px;
  padding: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: small;
  opacity: 70%;
  color: #f2f4f1;
  background-color: #f44144;
  border: none;
  display: block;
}
.sticky-btn:hover {
  opacity: 100%;
}

/*  Sticky Button end */
