* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: white;
}
/* navbar */
.navbar-brand {
  font-size: 25px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.nav-link,
.nav-link.dropdown {
  color: gray;
  margin-left: 30px;
  font-weight: 500;
  position: relative;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link.active {
  color: #ffcc00 !important;
}

.offcanvas-header {
  background-color: rgb(165, 165, 244) !important;
}

.nav-link:hover {
  color: #ffcc00;
  font-size: 16.5px;
  transition: 0.25s;
  font-weight: 500;

  transition: 0.1s;
}

.navbar-brand:hover {
  color: #ffcc00;
  transition: 0.1s;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: white;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    visibility: visible;
    width: 80%;
  }
}
/* NavBar end */

/*  Home page Strat*/

.home {
  padding-top: 60px;
  width: 100%;
  height: 80vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(/templepro/image/shivan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home .content {
  text-align: center;
  padding-top: 280px;
}
.home .content h5 {
  color: white;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}

.home .content h1 {
  color: white;
  font-size: 70px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}

/* span tag change content start*/
.changecontent::after {
  content: "";
  color: #ffcc00;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  animation: changetext 10s infinite linear;
}
@keyframes changetext {
  0% {
    content: "Kala Bhairavar";
  }
  10% {
    content: "Asitanga Bhairavar";
  }
  20% {
    content: "Kala Bhairavar";
  }
  30% {
    content: "Krodha Bhairavar";
  }
  40% {
    content: "Unmatta Bhairavar";
  }
  50% {
    content: "Kala Bhairavar";
  }
  60% {
    content: "Kapala Bhairavar";
  }
  70% {
    content: "Chanta Bhairavar";
  }
  80% {
    content: "Bheeshana Bhairavar";
  }
  90% {
    content: "Kala Bhairavar";
  }
  100% {
    content: "Samhara Bhairavar";
  }
}
/* span tag change content start*/

@media screen and (max-width: 900px) {
  .home {
    background-position: 50%;
  }
  .home .content h5 {
    font-size: 30px;
  }
  .home .content h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 500px) {
  .home .content h5 {
    font-size: 20px;
  }
  .home .content h1 {
    font-size: 30px;
  }
  .home .content p {
    font-size: 10px;
  }
}
/* home page end */

/* About start */

#abouth1 {
  color: blue;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}

.img-thumbnail {
  filter: drop-shadow(0px 0px 2px #000000);
}

@media screen and (max-width: 1200px) {
  #abouthome p {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  #abouthome p {
    margin-top: 10px;
  }
}

/* aboud end */
